*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 177vh;
    width: 100%;
    background-image: url(south-tyrol-8023224.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar{
    background-color: #6a5afff1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px ;
}
.navbar a{
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.navbar  i{
    font-size: 30px;
    color: #000;

}
.content{
    
    background-color: rgba(87, 87, 193, 0.945);
  
    width: 50%;
    height: auto;
    margin:  25px auto;
    padding:15px ;
   
    border-radius: 15px;
            
    display: flex;
        
     flex-direction: column; 

}
.content h1{
    text-align: center;
    
    padding: 15px;
    margin-bottom: 10px;
}
.content img{

    width: 100%;
    height: 200px;
    padding: 2px;
    border: 2px solid #00000000;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-color: #4a42e400;
}
.content label{
    font-weight: 600;
  font-size:20px;
  color: #000000a6;
  
  padding: 5px 10px;
  }
.content input{
    width: 90%;
    font-size: 19px;
     border: none;
     outline: none;
     border-radius: 10px;
     background: #eee;
     margin: 15px auto;
     padding: 20px;
     font-size: 20px;
}
.content a{
    width: 90%;
    text-align: center;
     border: none;
     outline: none;
     border-radius: 10px;
     margin: 15px auto;
     padding: 20px;
   
     background-color: #f84b48;
     font-size: 25px;
     font-weight: 600;
     letter-spacing: 2px;
     transition: 0.5s ease;
     color: #eee;
     cursor: pointer;
    
}
.content a:hover{
    background-color: #4942E4;
   
    color: #fff;
    box-shadow: #4a42e4c1 0px 54px 55px, #4a42e4c1 0px -12px 30px, #4a42e4c1 0px 4px 6px, #4a42e4c1 0px 12px 13px, #4a42e4c1 0px -3px 5px;
  
  } 
/*footer*/
.container4{
    width: 100%;
    padding-top:15px ;
    background: #4b5cf2a2;
   
}
.container4 h1{
    text-align: center;
    font-size: 35px;
}
.conaaint{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  
    
}
.conaaint .copyrght{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #000;
    width: 100%;
  
    padding: 20px 0;
}
.conaaint  .conteeent{
    text-decoration: none;
    text-align: start;
    font-size: 20px;
    color: #000;
    width: 100%;
    
    padding: 25px 10px;
    
}
a{
    text-decoration: none;
    color: #000;
}
.conaaint  .scoliamida{
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #000;
 
    padding: 20px 0;
    
}
.conaaint  .scoliamida a{
    margin: 0 10px;
    font-size: 25px;
}

  /* scrol bar */

::-webkit-scrollbar{
    width: 1em;
    height: 0.5em;
}
::-webkit-scrollbar-thumb{
background-color:#4b5cf2a2;
border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgba(187, 187, 187, 0.751);
    border-radius: 2px;
}



/* media querty*/
@media (min-width: 1200px)and (max-width: 1500px) {


  
    .content{
    
        background-color: rgba(87, 87, 193, 0.945);
      
        width: 60%;
        height: auto;
        margin:  25px auto;
        padding:15px ;
       
        border-radius: 15px;
                
        display: flex;
            
         flex-direction: column; 
    
    }
    .content h1{
        text-align: center;
        
        padding: 15px;
        margin-bottom: 10px;
    }
    .content img{
    
        width: 100%;
        height: 200px;
        padding: 2px;
        border: 2px solid #00000000;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: contain;
        background-color: #4a42e400;
    }
    .content label{
        font-weight: 600;
      font-size:20px;
      color: #000000a6;
      
      padding: 5px 10px;
      }
    .content input{
        width: 90%;
        font-size: 19px;
         border: none;
         outline: none;
         border-radius: 10px;
         background: #eee;
         margin: 15px auto;
         padding: 20px;
         font-size: 20px;
    }
    .content a{
        width: 90%;
        text-align: center;
         border: none;
         outline: none;
         border-radius: 10px;
         margin: 15px auto;
         padding: 20px;
       
         background-color: #f84b48;
         font-size: 25px;
         font-weight: 600;
         letter-spacing: 2px;
         transition: 0.5s ease;
         color: #eee;
         cursor: pointer;
        
    }
    .content a:hover{
        background-color: #4942E4;
       
        color: #fff;
        box-shadow: #4a42e4c1 0px 54px 55px, #4a42e4c1 0px -12px 30px, #4a42e4c1 0px 4px 6px, #4a42e4c1 0px 12px 13px, #4a42e4c1 0px -3px 5px;
      
      } 
   /*footer*/
    
    
   .container4{
    width: 100%;
    padding-top:15px ;
    
    background: #4b5cf2a2;
   
}
.container4 h1{
    text-align: center;
    font-size: 30px;
}
.conaaint{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  
    
}
.conaaint .copyrght{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    width: 100%;
  
    padding: 20px 0;
}
.conaaint  .conteeent{
    text-decoration: none;
    text-align: start;
    font-size: 20px;
    color: #000;
    width: 100%;
    
    padding: 25px 10px;
    
}
a{
    text-decoration: none;
    color: #000;
}
.conaaint  .scoliamida{
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #000;
 
    padding: 20px 0;
    
}
.conaaint  .scoliamida a{
    margin: 0 5px;
    font-size: 20px;
}
        
    }
    @media (min-width:900px) and (max-width: 1200px){
      
        
        .content{
    
            background-color: rgba(87, 87, 193, 0.945);
          
            width: 70%;
            height: auto;
            margin:  25px auto;
            padding:15px ;
           
            border-radius: 15px;
                    
            display: flex;
                
             flex-direction: column; 
        
        }
        .content h1{
            text-align: center;
            
            padding: 15px;
            margin-bottom: 10px;
        }
        .content img{
        
            width: 100%;
            height: 190px;
            padding: 2px;
            border: 2px solid #00000000;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: contain;
            background-color: #4a42e400;
        }
        .content label{
            font-weight: 600;
          font-size:20px;
          color: #000000a6;
          
          padding: 5px 10px;
          }
        .content input{
            width: 90%;
            font-size: 19px;
             border: none;
             outline: none;
             border-radius: 10px;
             background: #eee;
             margin: 15px auto;
             padding: 20px;
             font-size: 20px;
        }
        .content a{
            width: 90%;
            text-align: center;
             border: none;
             outline: none;
             border-radius: 10px;
             margin: 15px auto;
             padding: 20px;
           
             background-color: #f84b48;
             font-size: 25px;
             font-weight: 600;
             letter-spacing: 2px;
             transition: 0.5s ease;
             color: #eee;
             cursor: pointer;
            
        }
        .content a:hover{
            background-color: #4942E4;
           
            color: #fff;
            box-shadow: #4a42e4c1 0px 54px 55px, #4a42e4c1 0px -12px 30px, #4a42e4c1 0px 4px 6px, #4a42e4c1 0px 12px 13px, #4a42e4c1 0px -3px 5px;
          
          } 
           /*footer*/
    
    
    .container4{
        width: 100%;
        padding-top:15px ;
        
        background: #4b5cf2a2;
       
    }
    .container4 h1{
        text-align: center;
        font-size: 30px;
    }
    .conaaint{
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      
        
    }
    .conaaint .copyrght{
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #000;
        width: 100%;
      
        padding: 20px 0;
    }
    .conaaint  .conteeent{
        text-decoration: none;
        text-align: start;
        font-size: 20px;
        color: #000;
        width: 100%;
        
        padding: 25px 10px;
        
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .conaaint  .scoliamida{
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        color: #000;
     
        padding: 20px 0;
        
    }
    .conaaint  .scoliamida a{
        margin: 0 5px;
        font-size: 20px;
    }
    
    
    }
    @media (min-width:768px ) and (max-width: 900px) {
        
        .content{
    
            background-color: rgba(87, 87, 193, 0.945);
          
            width: 80%;
            height: auto;
            margin:  25px auto;
            padding:15px ;
           
            border-radius: 15px;
                    
            display: flex;
                
             flex-direction: column; 
        
        }
        .content h1{
            text-align: center;
            
            padding: 15px;
            margin-bottom: 10px;
        }
        .content img{
        
            width: 100%;
            height: 160px;
            padding: 2px;
            border: 2px solid #00000000;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: contain;
            background-color: #4a42e400;
        }
        .content label{
            font-weight: 600;
          font-size:20px;
          color: #000000a6;
          
          padding: 5px 10px;
          }
        .content input{
            width: 90%;
            font-size: 19px;
             border: none;
             outline: none;
             border-radius: 10px;
             background: #eee;
             margin: 15px auto;
             padding: 20px;
             font-size: 20px;
        }
        .content a{
            width: 90%;
            text-align: center;
             border: none;
             outline: none;
             border-radius: 10px;
             margin: 15px auto;
             padding: 20px;
           
             background-color: #f84b48;
             font-size: 25px;
             font-weight: 600;
             letter-spacing: 2px;
             transition: 0.5s ease;
             color: #eee;
             cursor: pointer;
            
        }
        .content a:hover{
            background-color: #4942E4;
           
            color: #fff;
            box-shadow: #4a42e4c1 0px 54px 55px, #4a42e4c1 0px -12px 30px, #4a42e4c1 0px 4px 6px, #4a42e4c1 0px 12px 13px, #4a42e4c1 0px -3px 5px;
          
          } 
           /*footer*/
    
    
    .container4{
        width: 100%;
        padding-top:15px ;
        
        background: #4b5cf2a2;
       
    }
    .container4 h1{
        text-align: center;
        font-size: 30px;
    }
    .conaaint{
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      
        
    }
    .conaaint .copyrght{
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #000;
        width: 100%;
      
        padding: 20px 0;
    }
    .conaaint  .conteeent{
        text-decoration: none;
        text-align: start;
        font-size: 20px;
        color: #000;
        width: 100%;
        
        padding: 25px 10px;
        
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .conaaint  .scoliamida{
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        color: #000;
     
        padding: 20px 0;
        
    }
    .conaaint  .scoliamida a{
        margin: 0 5px;
        font-size: 20px;
    }
    
    
    
    }
    @media (min-width: 600px) and (max-width: 768px){
       
        .content{
    
            background-color: rgba(87, 87, 193, 0.945);
          
            width: 90%;
            height: auto;
            margin:  25px auto;
            padding:15px ;
           
            border-radius: 15px;
                    
            display: flex;
                
             flex-direction: column; 
        
        }
        .content h1{
            text-align: center;
            
            padding: 15px;
            margin-bottom: 10px;
        }
        .content img{
        
            width: 100%;
            height: 150px;
            padding: 2px;
            border: 2px solid #00000000;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: contain;
            background-color: #4a42e400;
        }
        .content label{
            font-weight: 600;
          font-size:20px;
          color: #000000a6;
          
          padding: 5px 10px;
          }
        .content input{
            width: 90%;
            font-size: 19px;
             border: none;
             outline: none;
             border-radius: 10px;
             background: #eee;
             margin: 15px auto;
             padding: 20px;
             font-size: 20px;
        }
        .content a{
            width: 90%;
            text-align: center;
             border: none;
             outline: none;
             border-radius: 10px;
             margin: 15px auto;
             padding: 20px;
           
             background-color: #f84b48;
             font-size: 25px;
             font-weight: 600;
             letter-spacing: 2px;
             transition: 0.5s ease;
             color: #eee;
             cursor: pointer;
            
        }
        .content a:hover{
            background-color: #4942E4;
           
            color: #fff;
            box-shadow: #4a42e4c1 0px 54px 55px, #4a42e4c1 0px -12px 30px, #4a42e4c1 0px 4px 6px, #4a42e4c1 0px 12px 13px, #4a42e4c1 0px -3px 5px;
          
          } 
         /*footer*/
    
    
    .container4{
        width: 100%;
        padding-top:15px ;
        
        background: #4b5cf2a2;
       
    }
    .container4 h1{
        text-align: center;
        font-size: 30px;
    }
    .conaaint{
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      
        
    }
    .conaaint .copyrght{
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #000;
        width: 100%;
      
        padding: 20px 0;
    }
    .conaaint  .conteeent{
        text-decoration: none;
        text-align: start;
        font-size: 20px;
        color: #000;
        width: 100%;
        
        padding: 25px 10px;
        
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .conaaint  .scoliamida{
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        color: #000;
     
        padding: 20px 0;
        
    }
    .conaaint  .scoliamida a{
        margin: 0 5px;
        font-size: 20px;
    }
    
    }
    
 
    @media (min-width: 300px) and (max-width: 600px) {
        .container{
            height: 145vh;
            width: 100%;
            background-image: url(south-tyrol-8023224.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        
.navbar{
    background-color: #6a5afff1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar a{
    width: 45px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.navbar h1{

font-size: 25px;

}
.navbar  i{
    font-size: 25px;
    color: #000;

}
       
        .content{
    
            background-color: rgba(87, 87, 193, 0.945);
          
            width: 100%;
            height: auto;
            margin:  20px auto;
            padding:10px ;
           
            border-radius: 0;
                    
            display: flex;
                
             flex-direction: column; 
        
        }
        .content h1{
            text-align: center;
            
            padding: 15px;
            margin-bottom: 10px;
            font-size: 30px;
        }
        .content img{
        
            width: 100%;
            height: 120px;
            padding: 2px;
            border: 2px solid #00000000;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: contain;
            background-color: #4a42e400;
        }
        .content label{
            font-weight: 600;
          font-size:17px;
          color: #000000a6;
          
          padding: 5px 10px;
          }
        .content input{
            width: 90%;
            font-size: 15px;
             border: none;
             outline: none;
             border-radius: 10px;
             background: #eee;
             margin: 10px auto;
             padding: 20px;
             font-size: 17px;
        }
        .content a{
            width: 90%;
            text-align: center;
             border: none;
             outline: none;
             border-radius: 10px;
             margin: 10px auto;
             padding: 20px;
           
             background-color: #f84b48;
             font-size: 15px;
             font-weight: 600;
             letter-spacing: 2px;
             transition: 0.5s ease;
             color: #eee;
             cursor: pointer;
            
        }
        .content a:hover{
            background-color: #4942E4;
           
            color: #fff;
            box-shadow: #4a42e4c1 0px 54px 55px, #4a42e4c1 0px -12px 30px, #4a42e4c1 0px 4px 6px, #4a42e4c1 0px 12px 13px, #4a42e4c1 0px -3px 5px;
          
          } 

        /*footer*/  
.container4{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
   background: #4b5cf2a2;
   
  }
  .container4 h1{
    text-align: center;
    font-size: 20px;
  }
  .conaaint{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  
    
  }
  .conaaint .copyrght{
    text-decoration: none;
    text-align: center;
    font-size:15px;
    color: #000;
    width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
    padding: 0;
    background-color: transparent;
  }
  .conaaint  .conteeent{
    text-decoration: none;
    text-align: start;
    font-size: 20px;
    color: #000;
    width: 100%;
    display: none;
    padding: 25px 10px;
    
  }
  a{
    text-decoration: none;
    color: #000;
  }
  .conaaint  .scoliamida{
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #000;
    display: none;
    padding: 20px 0;
    
  }
  .conaaint  .scoliamida a{
    margin: 0 10px;
    font-size: 15px;
  }
  
    }
    
@media (max-width: 300px){
  
.container{
    height: 135vh;
    width: 100%;
    background-image: url(south-tyrol-8023224.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar{
    background-color: #6a5afff1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px ;
}
.navbar h1{
font-size: 25px;

}
.navbar a{
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.navbar  i{
    font-size: 25px;
    color: #000;

}
.content{
    
    background-color: rgba(87, 87, 193, 0.945);
  
    width: 100%;
    height: auto;
    margin:  25px auto;
    padding:15px ;
   
    border-radius: 0;
            
    display: flex;
        
     flex-direction: column; 

}
.content h1{
    text-align: center;
    
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.content img{

    width: 70%;
    margin: auto;
    height: 100px;
    padding: 2px;
    border: 2px solid #00000000;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-color: #4a42e400;
}
.content label{
    font-weight: 600;
  font-size:15px;
  color: #000000a6;
  
  padding: 5px 10px;
  }
.content input{
    width: 90%;
    font-size: 15px;
     border: none;
     outline: none;
     border-radius: 5px;
     background: #eee;
     margin: 10px auto;
     padding: 15px;
     font-size: 15px;
}
.content a{
    width: 90%;
    text-align: center;
     border: none;
     outline: none;
     border-radius: 10px;
     margin: 15px auto;
     padding: 20px;
   
     background-color: #f84b48;
     font-size: 12px;
     font-weight: 600;
     letter-spacing: 2px;
     transition: 0.5s ease;
     color: #eee;
     cursor: pointer;
    
}
.content a:hover{
    background-color: #4942E4;
   
    color: #fff;
    box-shadow: #4a42e4c1 0px 54px 55px, #4a42e4c1 0px -12px 30px, #4a42e4c1 0px 4px 6px, #4a42e4c1 0px 12px 13px, #4a42e4c1 0px -3px 5px;
  
  } 
 
 /* footer */
 .container4{
   width: 100%;
   padding-top: 20px;
   padding-bottom: 10px;
  background: #4b5cf2a2;
  
 }
 .container4 h1{
   text-align: center;
   font-size: 20px;
 }
 .conaaint{
  
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
 
   
 }
 .conaaint .copyrght{
   text-decoration: none;
   text-align: center;
   font-size:15px;
   color: #000;
   width: 100%;
 font-weight: 600;
 display: flex;
 justify-content: center;
 align-items: center;
   padding: 0;
   background-color: transparent;
 }
 .conaaint  .conteeent{
   text-decoration: none;
   text-align: start;
   font-size: 20px;
   color: #000;
   width: 100%;
   display: none;
   padding: 25px 10px;
   
 }
 a{
   text-decoration: none;
   color: #000;
 }
 .conaaint  .scoliamida{
   width: 100%;
   text-decoration: none;
   text-align: center;
   font-size: 20px;
   color: #000;
   display: none;
   padding: 20px 0;
   
 }
 .conaaint  .scoliamida a{
   margin: 0 10px;
   font-size: 15px;
 }
 
 }